<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
		<meta charset="utf-8">
		<link href="css/style1.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	 <div class="main">
		<div class="login-form">
			<h1>请登录</h1>
					<div class="head">
						<img src="images/user.png" alt=""/>
					</div>
				<form name="form" action="/login" method="post">
						<input type="text" class="text" name='username' >
				   <input type="password" name='password' >
						<div class="submit">
							<input type="submit"  value="LOGIN" >
					</div>	
				</form>
			</div>
   					<div class="copy-right">
					</div>
		</div>
		 		
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>